version: '2.1'

services:
  magicmirror:
    build: .
    restart: always
    network_mode: host

  browser:
    image: balenablocks/browser
    privileged: true
    network_mode: host
    environment:
      LAUNCH_URL: 'http://localhost:8080'
      KIOSK: '1'

  # wifi-connect haben wir hier entfernt, um die Verbindung stabil zu halten