.weather-local {
    text-align: right; /* Passend zu top_right */
}

.compass-container {
    margin: 10px 0;
}

.compass-ring {
    fill: none;
    stroke: #666;
    stroke-width: 1.5;
}

.comp-label {
    fill: #999;
    font-size: 10px;
    text-anchor: middle;
}

.comp-arrow {
    fill: #ff3333; /* Roter Pfeil */
}

.comp-speed {
    fill: #fff;
    font-size: 20px;
    font-weight: bold;
    text-anchor: middle;
}

.comp-unit {
    fill: #666;
    font-size: 9px;
    text-anchor: middle;
}
