.weather-local {
    text-align: right; /* Passend zu top_right */
}

.compass-container {
    margin: 10px 0;
}

.compass-ring {
    fill: none;
    stroke: #ffffff; /* Weißer Ring für den Spiegel-Look */
    stroke-width: 1;
    opacity: 0.3;    /* Etwas dezenter */
}

.comp-label {
    fill: #999;
    font-size: 10px;
    text-anchor: middle;
}

.comp-arrow {
    fill: #ff3333;   /* Kräftiges Rot für den Zeiger */
    stroke: #ff3333;
    stroke-width: 1;
}

.comp-speed {
    fill: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-anchor: middle;
}

.comp-unit {
    fill: #aaaaaa;
    font-size: 10px;
    text-anchor: middle;
}
